@media screen and ( max-width: 428px ) {
	.left-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
	.right-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
}

@media screen and ( min-width: 429px ) and ( max-width: 480px ) {
	.left-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
	.right-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
}

@media screen and ( min-width: 481px ) and ( max-width: 600px ) {
	.left-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
	.right-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
}

@media screen and ( min-width: 601px ) and ( max-width: 768px ) {
	.left-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
	.right-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
}

@media screen and ( min-width: 769px ) and  ( max-width: 896px ) {
	.left-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
	.right-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
}

@media screen and ( min-width: 897px ) and ( max-width: 1024px ) {
	.left-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
	.right-sidebar {
		.content-area {
			line-height: 1.8rem;
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			display: none;
		}
	}
	
}

@media screen and ( min-width: 1025px ) {
	.left-sidebar {
		.content-area {
			float: right;
			line-height: 1.8rem;
			width: 70%;
	
			@media screen and ( max-width: 600px ) {
				.content-area {
					float: none;
					width: 100%;
				}
			}
	
			.backdrop-portfolio,
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}

					.entry-metadata {
						font-size: 14px;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			float: left;
			width: 28.59375%;
	
			@media screen and ( max-width: 600px ) {
				float: none;
				width: 100%;
			}
		}
	}
	
	.right-sidebar {
		.content-area {
			float: left;
			line-height: 1.8rem;
			width: 70%;
	
			@media screen and ( max-width: 600px ) {
				.content-area {
					float: none;
					width: 100%;
				}
			}
	
			.post {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				margin-top: 1.125rem;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
	
			.page {
				background: #ffffff;
				border: 0.063rem dotted #5394a8;
				border-bottom: 0.063rem solid #5394a8;
				padding: 1.125rem;
	
				&:first-child {
					margin-top: 0;
				}
	
				.entry-header {
					text-align: center;
	
					.entry-title {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	
		.widget-area {
			float: right;
			width: 28.59375%;
	
			@media screen and ( max-width: 600px ) {
				float: none;
				width: 100%;
			}
		}
	}
	
}