
@media screen and ( min-width: 1025px ) {
    .archive {

        .archive-header {
            text-align: center;

            .archive-title {
                margin: 0;
                padding: 0;
            }

        }

        .content-area {
            line-height: 1.8rem;
    
            .grid-col-3 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1.125rem;
                margin-top: 2.25rem;

                .backdrop-portfolio {
                    .post-thumbnail {
                        position: relative;
                        
                        img {
                            border-radius: 0.5rem;
                            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                            display: block;
                            width: 100%; /* Make sure the image fits well */
                        }
        
                        .wp-caption {
                            position: absolute;
                            bottom: 0; /* Stick to the bottom of the image */
                            left: 0;
                            right: 0;
                            background: rgba( 0, 0, 0, 0.8 ); /* Add some opacity to the background */
                            color: #fff; /* White text for contrast */
                            padding: 0.5rem;
                            text-align: center;
        
                            .wp-caption-text {
                                margin: 0.25rem 0;
                                padding: 0;
        
                                a { 
                                    text-decoration: none;
                                    color: #fff; /* Ensure the link text is also white */
                                }
                            }
        
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .post {
                    background: #ffffff;
                    border: 0.063rem dotted #5394a8;
                    border-bottom: 0.063rem solid #5394a8;
                    padding: 1.125rem;
        
                    .entry-header {
                        text-align: center;
        
                        .entry-title {
                            margin: 0;
                            padding: 0;
                        }
        
                        .entry-metadata {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}