@media screen and ( max-width: 768px ) {
	.menu-toggle {
		background: color( black );
		border: none;
		bottom: 1.125rem;
		color: color( white );
		cursor: pointer;
		font-family: font-family( primary );
		left: 1.125rem;
		padding: 0.5rem 1rem;
		position: fixed;
	}

	.menu-items {
		left: -9999rem;
		position: absolute;
	}

	.toggled {
		.menu-items {
			background: color( black );
			display: block;
			bottom: 3.5rem;
			left: 1.25rem;
			margin: 0;
			padding: 0;
			position: fixed;
			right: 1.125rem;
			text-align: left;

			.menu-item {
				list-style-type: none;
				margin: 0.6rem;
				padding: 0.6rem;

				a {
					color: color( white );
					text-decoration: none;

				}

				.dropdown-toggle {
					background: transparent;
					border: none;
					margin: 0;
					padding: 0;
					position: absolute;
					right: 1.250rem;

					.fontawesome {
						color: color( white );
						font-size: 1.125rem;
						padding: 0.6rem;

						&:before {
							content: '';
							cursor: pointer;
							display: inline-block;
							border: solid white;
							border-width: 0 0.25rem 0.25rem 0;
							transform: rotate( -135deg );
							padding: 0.25rem;
							margin-right: 0.2rem;
						}
					}
				}

				.sub-menu {
					left: -9999rem;
					list-style-type: none;
					margin: 0;
					padding: 0;
					position: absolute;
				}

				&.toggled-on {
					.dropdown-toggle {
						background: transparent;
						border: none;
						margin: 0;
						padding: 0;
						position: absolute;
						right: 1.250rem;

						.fontawesome {
							color: color( white );
							font-family: 'Font Awesome 5 Free';
							font-size: 1.25rem;
							padding: 0.6rem;

							&:before {
								content: '';
								display: inline-block;
								border: solid white;
								border-width: 0 0.25rem 0.25rem 0;
								transform: rotate(45deg);
								padding: 0.25rem;
								margin-right: 0.2rem;
							}
						}
					}

					.sub-menu {
						background: transparent;
						left: 0;
						right: 0;
						padding-left: 0;
						position: relative;
					}
				}
			}
		}
	}
}

@media screen and ( min-width: 769px ) {
	.primary-menu {
		padding: 0.8rem 0;

		.menu-toggle {
			display: none;
		}

		.menu-items {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: static;
			justify-content: right;

			.menu-item {
				left: unset;
				position: relative;
				width: max-content;

				&:hover {
					color: color( white );
					text-decoration: underline;
					text-decoration-thickness: 2px;
					text-underline-offset: 4px;
				}

				&.menu-item-has-children {
					> {
						a {
							&:after {
								content: '';
								display: inline-block;
								border: solid white;
								border-width: 0 0.25rem 0.25rem 0;
								transform: rotate( 45deg );
								padding: 0.25rem;
								margin-left: 0.6rem;
							}
						}
					}

					.sub-menu {
						.menu-item-has-children {
							a {
								&:after {
									display: none;
								}
							}
						}
					}
				}

				&.current-menu-item {
					a {
						color: color( white );
						padding: 0.5rem 1rem;
						text-decoration: underline;
						text-decoration-thickness: 2px;
						text-underline-offset: 4px;
					}

					.sub-menu {
						.menu-item {
							a {
								color: color( white );
								padding: 0.5rem 1rem;
								text-decoration: none;
								text-decoration-thickness: 0;
								text-underline-offset: 0;
							}
						}
					}
				}

				a {
					color: #ffffff;
					padding: 0.5rem 1rem;
					text-decoration: none;
				}

				.dropdown-toggle {
					display: none;
				}

				.sub-menu {
					background: color( black );
					left: 0;
					list-style-type: none;
					margin: 0.7rem 0;
					opacity: 0;
					padding: 0.5rem 0;
					position: absolute;
					transform: translateY( -1em );
					visibility: hidden;
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

					.menu-item {
						margin: 0 0 0.5rem 0;
						padding: 0.5rem;

						a {
							color: color( white );
						}

						&:last-child {
							margin: 0;
						}
					}
				}

				&:hover,
				&:focus-within,
				&.focus {
					.sub-menu {
						left: 0;
						visibility: visible; /* shows sub-menu */
						opacity: 1;
						z-index: 1;
						transform: translateY(0%);
						transition-delay: 0s, 0s, 0.3s
					}
				}
			}
		}
	}
}
